<h2>All Tickets</h2><br>
    {{#each data}}
    <a href="/{{this.id}}">
    <div class="card" id="{{this.status}}">
        <div class="container">
            <p class="id">Id : {{this.id}}</p>
            <p class="status">Status : {{this.status}}</p>
            <p class="subject">Subject : {{this.subject}}</p>
        </div></a>
    </div>
    {{/each}}