<div class="desc">
    <div class="tid">ID : {{data.id}}</div><br>
    <div class="tstatus" id="{{data.status}}">Status : {{data.status}}</div><br>
    <div>Tags : {{data.tags}}</div><br>
    <div>Created at : {{data.created_at}}</div><br>
    <div>Subject : {{data.subject}}</div><br>
    <div>{{data.description}}</div><br>
</div>
<a href="/"><div class="back">Back to all tickets</div></a>